<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Sla je zoekopdracht op </h4>
</div>
<div class="modal-body">
  <p class="lead">Geef een naam aan je zoekopdracht</p>
  <div class="form-group">
    <input class="form-control" ng-model="name" type="text" placeholder="Naam"/>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="buttonSave($event)">Opslaan</button>
  <button class="btn btn-warning" ng-click="buttonCancel($event)">Annuleren</button>
</div>
