.categories {
  list-style-type: none;
  li {
    float:left;
    border-bottom: 1px solid #eee;
  }
}

.ad {
  .panel {
    height: 250px;
  }
}

i.fa {
  color: #aaa;
}

.category {
  border-bottom: 1px solid #eee;
}

.pointer {
  cursor: pointer;
}

.query-item {
  background: none;
  &:hover {
    background-color:#fff;
    color: #000;
    cursor: pointer;
  }
  i {
    &:hover {
      text-decoration: underline;
    }
  }
}
